.card1 {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card2 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
}

.image {
  height: 200px;
}
.card3 {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}
button {
  padding: 5px;
  border-radius: 4px;
  background: #f9d423;
  color: #a35200;
  border-width: 0px;
  font-weight: bolder;
}
